
<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Appearo</title>
	<link rel="shortcut icon" href="static/favicon.ico" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/themify-icons.css">
	<link rel="stylesheet" href="static/css/nice-select.css">
	<link rel="stylesheet" href="static/css/flaticon.css">
	<link rel="stylesheet" href="static/css/gijgo.css">
	<link rel="stylesheet" href="static/css/animate.min.css">
	<link rel="stylesheet" href="static/css/slicknav.css">
	<link rel="stylesheet" href="static/css/style.css">
	<!-- <link rel="stylesheet" href="static/css/responsive.css"> -->
</head>

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img src="static/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu  d-none d-lg-block text-center">
															<nav>
																	<ul id="navigation">
																		<li><a href="/company">Company</a></li>
																		<li><a href="/model">Solution <i class="ti-angle-down"></i></a>
																				<ul class="submenu">
																						<li><a href="/model">Machine Learning Model</a></li>
																						<li><a href="/altfactors">Alternative Factors Methodology</a></li>
																						<li><a href="/blockchain">Blockchain</a></li>
																				</ul>
																		</li>
																			<li><a href="/profile">Use Case</a></li>
																		</ul>
															</nav>
                            </div>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-end">
                                <a href="https://www.typeform.com/" target="_blank" class="say_hi">Feedback</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

<!-- bradcam_area  -->
		<div class="bradcam_area bradcam_LV_7">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="bradcam_text">
							<h3>Alternative Factors Methodology</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /bradcam_area  -->

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Why Alternative Factors?</h3>
			<p class="sample-text">
				<b>Forty-five million people in the United States are considered
				‘credit invisible’ due to having credit histories that are too thin
				to generate a credit score [1].
				</b><p/>
				<p>To help increase equity and accessibility in the lending process,
				Appearo has created a methodology to quantify non-financial factors to
				assess the creditworthiness of the borrower. Such factors grant borrowers
				more opportunity to access resources, despite being invisible to most
				lending institutions.
				<p/>

			</p>
		</div>
	</section>
	<!-- End Sample Area -->

	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">Financial Factor Assessment</h3>
				<div class="row">
					<div class="col-md-3">
						<img src="static/img/elements/finfac.jpg" alt="" class="img-fluid">
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>A financial factors assessment can be described as a creditworthiness
						assessment that takes into account only attributes relating to information that
						is included on a credit report. </p>
						<p>For example, credit utilization, monthly income, number of
						late payment, number of open credit lines, number of real estate loans, etc. </p>
					</div>
				</div>
			</div>
			<div class="section-top-border">
				<h3 class="mb-30">Alternative Factors Assessment</h3>
				<div class="row">
					<div class="col-md-3">
						<img src="static/img/elements/hands.jpg" alt="" class="img-fluid">
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>An alternative factors assessment accounts for any information
						not included in a credit report. <p/>
						<p>
						This could include financial information such as rent payments, cable payments, etc. or
						non-financial information such as education history, career consistency, etc.
						</p>
					</div>
				</div>
			</div>
			<div class="section-top-border">
		<table class="table">
  <thead>
    <tr>
      <th scope="col">Alternative Factor</th>
      <th scope="col">Input Type</th>
      <th scope="col">How We Quantify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Education History</th>
			<td> Scaled Numeric Value </td>
      <td>Scaled based on completed degree level (High School Diploma/GED, Associate, Bachelor, Master, Doctorate)
			<br>Additive value for education level in progress based on years completed or credits completed.</td>
    </tr>
    <tr>
      <th scope="row">Career Consistency</th>
      <td>Scaled Numeric Value</td>
      <td>Ratio of active working months to available working months.
				<br>Each job is scaled to the number of hours worked per week.
				<br>Work availability is based on a 40 hours work week for the period after one’s 18th birthday.
				<br>All work history is included (including work prior to 18th birthday).</td>
    </tr>
    <tr>
      <th scope="row">GPA</th>
      <td>Scaled Numeric Value</td>
      <td>Unweighted GPA (0.0-4.0)</td>
    </tr>
		<tr>
			<th scope="row">Job Offer Letter</th>
			<td> Binary</td>
			<td>If one has a job offer then they have not started yet.</td>
		</tr>
		<tr>
			<th scope="row">College Acceptance Letter</th>
			<td> Binary</td>
			<td>If one has a college acceptance letter for a program they have not started yet.</td>
		</tr>
  </tbody>
</table>
					</div>
					<div> <p>[1] K. P. Breevoort, P. Grimm and M. Kambara, "Data Point: Credit Invisibles," The CFPB Office of Research, May 2015. [Online]. Available: https://files.consumerfinance.gov/f/201505_cfpb_data-point-credit-invisibles.pdf.
					</p></div>
				</div>
			</div>
	<!-- End Align Area -->
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3">
                        <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                            <a href="/">
                                <img src="static/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-9">
                        <div class="menu_links">
                            <ul>
															<li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s" href="/about">Company</a></li>
															<li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s" href="/model">Model</a></li>
															<<li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s" href="/demo" target="_blank">Blockchain</a></li>
															<li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".8s" href="/altfactors">Methodology</a></li>
															<li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s" href="/profile">Use Case</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="socail_links">
                            <ul>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="#"> <i class="fa fa-instagram"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" href="#"> <i class="fa fa-google-plus"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

	<!-- JS here -->
	<script src="static/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="static/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/isotope.pkgd.min.js"></script>
	<script src="static/js/ajax-form.js"></script>
	<script src="static/js/waypoints.min.js"></script>
	<script src="static/js/jquery.counterup.min.js"></script>
	<script src="static/js/imagesloaded.pkgd.min.js"></script>
	<script src="static/js/scrollIt.js"></script>
	<script src="static/js/jquery.scrollUp.min.js"></script>
	<script src="static/js/wow.min.js"></script>
	<script src="static/js/nice-select.min.js"></script>
	<script src="static/js/jquery.slicknav.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/gijgo.min.js"></script>

	<!--contact js-->
	<script src="static/js/contact.js"></script>
	<script src="static/js/jquery.ajaxchimp.min.js"></script>
	<script src="static/js/jquery.form.js"></script>
	<script src="static/js/jquery.validate.min.js"></script>
	<script src="static/js/mail-script.js"></script>

	<script src="static/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
</body>
</html>
